.nav-bar{
    
  background-color: rgb(33, 34, 36); 
  
}
.link{
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;;
    
}
a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;;
}
.bungie-link{
    height: 120px;
    width: 160px;
}
.link:hover{
    color: #f1f1f1;

}


@media only screen and (min-width: 683px) {
    .nav-bar{
        height: 100%; 
  width: 200px; 
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgb(33, 34, 36); 
  overflow-x: hidden; 
  padding-top: 20px;
    }
  }